{% load static %}
<link rel="stylesheet" href="{% static 'css/surgery.css' %}">
<div class="gs-page">
    <div class="cp-header">
        <h2>Anaesthesia</h2>
        <p>Performance & Activity Overview</p>
    </div>
    {% if messages %}
        <div class="error-messages">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <div class="gs-cards">
        <a href="{% url 'anaesthesia_activities' %}" class="gs-card">
            <div class="gs-card-img"><img src="{% static 'images/fraternity/l-act.png' %}" alt="Activities"></div>
            <div class="gs-card-content">
                <h4>Activities</h4>
                <span>View & manage surgery activities</span>
            </div>
        </a>
        <a href="{% url 'dashboard_anaesthesia' %}" class="gs-card">
            <div class="gs-card-img"><img src="{% static 'images/fraternity/l-dash.png' %}" alt="Dashboard"></div>
            <div class="gs-card-content">
                <h4>Dashboard</h4>
                <span>Clinical performance & indicators</span>
            </div>
        </a>
    </div>
    <div class="back-link"><a href="{% url 'fraternity' %}">&larr; Back to Fraternity</a></div>
</div>