{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">

            <!-- Logo 1: kkm & cps logo -->
                         <div class="brand-mark brand-mark-primary" href="{% url 'main' %}">
              <img src="{% static 'images/fraternity/l-kkm.png' %}"
                   alt="Logo CPS"
                   class="brand-logo"
                 >
            </div>

            <div class="brand-mark brand-mark-primary" href="{% url 'main' %}">
              <img src="{% static 'images/fraternity/l-cps.png' %}"
                   alt="Logo CPS"
                   class="brand-logo"
                 >
            </div>

            <!-- Logo + Nama Sistem -->
            <a class="navbar-brand fw-bold d-flex align-items-center" href="{% url 'main' %}"   style="margin-left: 10px;">

                Clinical Performance
            </a>

            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Menu -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto align-items-center">

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main' %}">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'journey' %}">Journey</a>
                    </li>

                </ul>
            </div>

        </div>
    </nav>
</header>
